#body-formulario {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #f5f5f5;
    text-align: center!important;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

footer {
    margin-top: auto;
}

.form{
    box-sizing: border-box;
    display: block;
    width: 100%;
    padding: 15px;
    margin: 0 auto;
}

.form-signin{
    max-width: 330px;
}

.form-cadastro{
     max-width: 600px;
}

form input{
    margin-bottom: 5%;
}

.lista-contatos{
    max-width: 100%;
}

.form-novo-contato{
    max-width: 150%;
}

#icone{
    font-size: 50px;
    margin-top: -5%;
    margin-bottom: 5%;
    color: #007bff;
}

#divisor-letra{
    font-size: 14px;
    margin-left: 0.4%;
    margin-bottom: -1%;
    font-weight: bold;
}

.margin-top-2{
    margin-top: 2%;
}

.numero-apelido-notas{
    font-size: 14px;
    color: gray;
}

.padding-2{
    padding: 2%;
}